/*
Midnight Green - #003638
Atomic Tangerine - #F2A183
White - #FFFFFF
*/

body {
    background-color: #003638;
    margin: 0;
}

/* Header stuff */

header {
    background-color: #F2A183;
    /*
        Black #000000
        white #ffffff - #fff
        #333 - #333333
        #af0 - #aaff00

        #red red grn grn blu blu alpha alpha
        #ff0000ff
    */
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.branding {
    font-weight: bolder;
    font-size: 2em;
    margin-right: auto;
    padding-left: 20px;
}

.branding a {
    text-decoration: none;
    color: black;
}

.nav-item {
    font-weight: bold;
    font-size: 1.5em;
    /* padding: left/right top/bottom */
    padding: 15px 10px;
    /* padding-top: 10px */
    /* padding: 10px */
    /* padding: top right bottom left; */
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:last-of-type {
    padding-right: 20px;
}

.nav-item:hover {
    background-color: #003638;
}

.nav-item:hover a {
    color: white;
}

/* Main Body */
main {
    color: white;
}

.bold {
    font-weight: bold;
}

.centered {
    width: 80%;
    text-align: center;
    margin: auto;
}

#name {
    background-color: pink;
}

/* card styles */

.deck {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    border: 1px solid green;
    border-radius: 25px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card .card-body p {
    padding-bottom: 15px;
}

.card .btn {
    text-decoration: none;
    padding: 15px;
    background-color: #F2A183;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin: 15px;
}

.card .card-body {
    margin: 25px;
    text-align: center;
}