/*
Midnight Green - #003638
Atomic Tangerine - #F2A183
White - #FFFFFF
*/

html * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #003638;
    margin: 0;
}

/* Header stuff */

header {
    background-color: #F2A183;
    /*
        Black #000000
        white #ffffff - #fff
        #333 - #333333
        #af0 - #aaff00

        #red red grn grn blu blu alpha alpha
        #ff0000ff
    */
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.branding {
    font-weight: bolder;
    font-size: 2em;
    margin-right: auto;
    padding-left: 20px;
}

.branding a {
    text-decoration: none;
    color: black;
}

.nav-item {
    font-weight: bold;
    font-size: 1.5em;
    /* padding: left/right top/bottom */
    padding: 15px 10px;
    /* padding-top: 10px */
    /* padding: 10px */
    /* padding: top right bottom left; */
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:last-of-type {
    padding-right: 20px;
}

.nav-item:hover {
    background-color: #003638;
}

.nav-item:hover a {
    color: white;
}

/* Main Body */
main {
    color: white;
}

.bold {
    font-weight: bold;
}

.centered {
    width: 80%;
    text-align: center;
    margin: auto;
}

#name {
    background-color: pink;
}

/* card styles */

.deck {
    display: flex;
    gap: 2em;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    border: 1px solid green;
    border-radius: 25px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card .card-body {
    margin: 25px;
    text-align: center;
}

/* Page styles */
.btn {
    text-decoration: none;
    padding: 15px;
    background-color: #F2A183;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

/* Description styles */
div.block {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description-text {
    font-size: 1.5em;
}

.accent-color {
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    background-color: #F2A183;
    color: black;
}

.reversed-color {
    border-top: 8px solid #F2A183;
    border-bottom: 8px solid #F2A183;
    background-color: black;
    color: #F2A183;
}

.centered-fluid {
    text-align: center;
    margin: auto;
}

.card {
    width: 350px;
}

.platforms .brand-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.0em;
    justify-content: center;
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.platforms .brand-list li {
    padding: 5px;
}

.platforms .brand-list i {
    transition: 10s;
}

.platforms .brand-list i:hover {
    font-size: 1.5em;
}

.reqs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reqs div {
    padding: 10px;
    width: 350px;
    /* text-align: left; */
}

.reqs div ul {
    padding-left: 0;
}

.reqs div ul li {
    list-style: none;
}

.contact-form {
    text-align: left;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type=text],
.contact-form textarea {
    width: 100%;
}

.contact-form textarea {
    height: 200px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questions {
    margin: auto;
}